@charset "utf-8";

#svg_area {
	width: 100%;
	height: 600px;
	background: #efefef;
}

.score {
	font-size: 20px;
}

.result {
	font-size: 20px;
}

#result-score {
	color: darkblue;
	font-weight: bold;
}

#result-fps {
	color: firebrick;
	font-weight: bold;
}